In [1]:
import sys
sys.path.append('../../Utils')

import os 

from data_feed import DataFeed

In [2]:
datafeed = DataFeed(config_path=os.path.join('..', 'config.ini'),
                    local_data_dir='.')

# 数据下载

## 沪深300指数 - 1m - JoinQuant

In [3]:
""" 下载joinquant数据到本地 """
datafeed.query_jq_data_save_local('000300.XSHG',
                                  '2005-04-08 09:30:00', 
                                  '2022-01-31 15:00:00',
                                  '1m')

开始查询JoinQuant数据~
auth success
Data Query Amount:  {'total': 10000000, 'spare': 10000000}

C:\ProgramData\Anaconda3\lib\site-packages\jqdatasdk\api.py:34: PanelObsoleteWarning: 当前环境 pandas 版本高于 0.25，get_price 与 get_fundamentals_continuously 接口的 panel 参数将固定为 False（0.25 及以上版本的 pandas 不再支持 panel，如使用该数据结构和相关函数请注意修改）
  warnings.warn(PandasChecker.VERSION_NOTICE_MESSAGE, PanelObsoleteWarning)

下载完成~ 数据条数:981600, first_dt:2005-04-08 09:31:00, last_dt: 2022-01-28 15:00:00
数据查询成功，开始保存到本地~
本地已有Local Data File：.\000300.XSHG.h5
['/15m', '/1m', '/5m', '/daily']
Local Data中已存在对应分区：1m，将更新文件
数据加载完成~
first_dt:2005-04-08 09:31:00,
last_dt:2022-01-28 15:00:00

C:\ProgramData\Anaconda3\lib\site-packages\tables\path.py:137: NaturalNameWarning: object name is not a valid Python identifier: '1m'; it does not match the pattern ``^[a-zA-Z_][a-zA-Z0-9_]*$``; you will not be able to use natural naming to access this object; using ``getattr()`` will still work, though
  check_attribute_name(name)

文件已成功保存到本地~

## 沪深300指数 - 5m - JoinQuant

In [7]:
datafeed.query_jq_data_save_local('000300.XSHG',
                                  '2005-04-08 09:30:00', 
                                  '2022-01-31 15:00:00',
                                  '5m')

开始查询JoinQuant数据~
Data Query Amount:  {'total': 10000000, 'spare': 9007036}

C:\ProgramData\Anaconda3\lib\site-packages\jqdatasdk\api.py:34: PanelObsoleteWarning: 当前环境 pandas 版本高于 0.25，get_price 与 get_fundamentals_continuously 接口的 panel 参数将固定为 False（0.25 及以上版本的 pandas 不再支持 panel，如使用该数据结构和相关函数请注意修改）
  warnings.warn(PandasChecker.VERSION_NOTICE_MESSAGE, PanelObsoleteWarning)

下载完成~ 数据条数:196320, first_dt:2005-04-08 09:35:00, last_dt: 2022-01-28 15:00:00
数据查询成功，开始保存到本地~
本地已有Local Data File：.\000300.XSHG.h5
['/1m', '/daily']
Local Data中未找到对应分区：5m，将新建文件
文件已成功保存到本地~

C:\ProgramData\Anaconda3\lib\site-packages\tables\path.py:137: NaturalNameWarning: object name is not a valid Python identifier: '5m'; it does not match the pattern ``^[a-zA-Z_][a-zA-Z0-9_]*$``; you will not be able to use natural naming to access this object; using ``getattr()`` will still work, though
  check_attribute_name(name)

## 沪深300指数 - 15m - JoinQuant

In [8]:
datafeed.query_jq_data_save_local('000300.XSHG',
                                  '2005-04-08 09:30:00', 
                                  '2022-01-31 15:00:00',
                                  '15m')

开始查询JoinQuant数据~
Data Query Amount:  {'total': 10000000, 'spare': 8810716}

C:\ProgramData\Anaconda3\lib\site-packages\jqdatasdk\api.py:34: PanelObsoleteWarning: 当前环境 pandas 版本高于 0.25，get_price 与 get_fundamentals_continuously 接口的 panel 参数将固定为 False（0.25 及以上版本的 pandas 不再支持 panel，如使用该数据结构和相关函数请注意修改）
  warnings.warn(PandasChecker.VERSION_NOTICE_MESSAGE, PanelObsoleteWarning)

下载完成~ 数据条数:65440, first_dt:2005-04-08 09:45:00, last_dt: 2022-01-28 15:00:00
数据查询成功，开始保存到本地~
本地已有Local Data File：.\000300.XSHG.h5
['/1m', '/5m', '/daily']
Local Data中未找到对应分区：15m，将新建文件
文件已成功保存到本地~

C:\ProgramData\Anaconda3\lib\site-packages\tables\path.py:137: NaturalNameWarning: object name is not a valid Python identifier: '15m'; it does not match the pattern ``^[a-zA-Z_][a-zA-Z0-9_]*$``; you will not be able to use natural naming to access this object; using ``getattr()`` will still work, though
  check_attribute_name(name)

## 沪深300指数 - daily - JoinQuant

In [9]:
datafeed.query_jq_data_save_local('000300.XSHG',
                                  '2005-04-08', 
                                  '2022-01-31',
                                  'daily')

开始查询JoinQuant数据~
Data Query Amount:  {'total': 10000000, 'spare': 8745276}
下载完成~ 数据条数:4090, first_dt:2005-04-08 23:59:59, last_dt: 2022-01-28 23:59:59
数据查询成功，开始保存到本地~
本地已有Local Data File：.\000300.XSHG.h5
['/15m', '/1m', '/5m', '/daily']
Local Data中已存在对应分区：daily，将更新文件
数据加载完成~
first_dt:2020-12-01 23:59:59,
last_dt:2022-01-28 23:59:59
文件已成功保存到本地~

C:\ProgramData\Anaconda3\lib\site-packages\jqdatasdk\api.py:34: PanelObsoleteWarning: 当前环境 pandas 版本高于 0.25，get_price 与 get_fundamentals_continuously 接口的 panel 参数将固定为 False（0.25 及以上版本的 pandas 不再支持 panel，如使用该数据结构和相关函数请注意修改）
  warnings.warn(PandasChecker.VERSION_NOTICE_MESSAGE, PanelObsoleteWarning)

## 沪深300期货 - 1m - JoinQuant

In [10]:
datafeed.query_jq_data_save_local('IF8888.CCFX',
                                  '2010-04-16 09:15:00', 
                                  '2022-01-31 15:00:00',
                                  '1m')

开始查询JoinQuant数据~
Data Query Amount:  {'total': 10000000, 'spare': 8741186}

C:\ProgramData\Anaconda3\lib\site-packages\jqdatasdk\api.py:34: PanelObsoleteWarning: 当前环境 pandas 版本高于 0.25，get_price 与 get_fundamentals_continuously 接口的 panel 参数将固定为 False（0.25 及以上版本的 pandas 不再支持 panel，如使用该数据结构和相关函数请注意修改）
  warnings.warn(PandasChecker.VERSION_NOTICE_MESSAGE, PanelObsoleteWarning)

下载完成~ 数据条数:729960, first_dt:2010-04-16 09:16:00, last_dt: 2022-01-28 15:00:00
数据查询成功，开始保存到本地~
本地未找到Local Data File：.\IF8888.CCFX.h5，将新建

C:\ProgramData\Anaconda3\lib\site-packages\tables\path.py:137: NaturalNameWarning: object name is not a valid Python identifier: '1m'; it does not match the pattern ``^[a-zA-Z_][a-zA-Z0-9_]*$``; you will not be able to use natural naming to access this object; using ``getattr()`` will still work, though
  check_attribute_name(name)

文件已成功保存到本地~

## 沪深300期货 - 5m - JoinQuant

In [11]:
datafeed.query_jq_data_save_local('IF8888.CCFX',
                                  '2010-04-16 09:15:00', 
                                  '2022-01-31 15:00:00',
                                  '5m')

开始查询JoinQuant数据~
Data Query Amount:  {'total': 10000000, 'spare': 8011226}

C:\ProgramData\Anaconda3\lib\site-packages\jqdatasdk\api.py:34: PanelObsoleteWarning: 当前环境 pandas 版本高于 0.25，get_price 与 get_fundamentals_continuously 接口的 panel 参数将固定为 False（0.25 及以上版本的 pandas 不再支持 panel，如使用该数据结构和相关函数请注意修改）
  warnings.warn(PandasChecker.VERSION_NOTICE_MESSAGE, PanelObsoleteWarning)

下载完成~ 数据条数:145992, first_dt:2010-04-16 09:20:00, last_dt: 2022-01-28 15:00:00
数据查询成功，开始保存到本地~
本地已有Local Data File：.\IF8888.CCFX.h5
['/1m']
Local Data中未找到对应分区：5m，将新建文件
文件已成功保存到本地~

C:\ProgramData\Anaconda3\lib\site-packages\tables\path.py:137: NaturalNameWarning: object name is not a valid Python identifier: '5m'; it does not match the pattern ``^[a-zA-Z_][a-zA-Z0-9_]*$``; you will not be able to use natural naming to access this object; using ``getattr()`` will still work, though
  check_attribute_name(name)

## 沪深300期货 - 15m - JoinQuant

In [12]:
datafeed.query_jq_data_save_local('IF8888.CCFX',
                                  '2010-04-16 09:15:00', 
                                  '2022-01-31 15:00:00',
                                  '15m')

开始查询JoinQuant数据~
Data Query Amount:  {'total': 10000000, 'spare': 7865234}

C:\ProgramData\Anaconda3\lib\site-packages\jqdatasdk\api.py:34: PanelObsoleteWarning: 当前环境 pandas 版本高于 0.25，get_price 与 get_fundamentals_continuously 接口的 panel 参数将固定为 False（0.25 及以上版本的 pandas 不再支持 panel，如使用该数据结构和相关函数请注意修改）
  warnings.warn(PandasChecker.VERSION_NOTICE_MESSAGE, PanelObsoleteWarning)

下载完成~ 数据条数:48664, first_dt:2010-04-16 09:30:00, last_dt: 2022-01-28 15:00:00
数据查询成功，开始保存到本地~
本地已有Local Data File：.\IF8888.CCFX.h5
['/1m', '/5m']
Local Data中未找到对应分区：15m，将新建文件
文件已成功保存到本地~

C:\ProgramData\Anaconda3\lib\site-packages\tables\path.py:137: NaturalNameWarning: object name is not a valid Python identifier: '15m'; it does not match the pattern ``^[a-zA-Z_][a-zA-Z0-9_]*$``; you will not be able to use natural naming to access this object; using ``getattr()`` will still work, though
  check_attribute_name(name)

## 沪深300期货 - daily - JoinQuant

In [13]:
datafeed.query_jq_data_save_local('IF8888.CCFX',
                                  '2010-04-16', 
                                  '2022-01-31',
                                  'daily')

开始查询JoinQuant数据~
Data Query Amount:  {'total': 10000000, 'spare': 7816570}
下载完成~ 数据条数:2868, first_dt:2010-04-16 23:59:59, last_dt: 2022-01-28 23:59:59
数据查询成功，开始保存到本地~
本地已有Local Data File：.\IF8888.CCFX.h5
['/15m', '/1m', '/5m']
Local Data中未找到对应分区：daily，将新建文件
文件已成功保存到本地~

C:\ProgramData\Anaconda3\lib\site-packages\jqdatasdk\api.py:34: PanelObsoleteWarning: 当前环境 pandas 版本高于 0.25，get_price 与 get_fundamentals_continuously 接口的 panel 参数将固定为 False（0.25 及以上版本的 pandas 不再支持 panel，如使用该数据结构和相关函数请注意修改）
  warnings.warn(PandasChecker.VERSION_NOTICE_MESSAGE, PanelObsoleteWarning)

## 上证指数 - daily - JoinQuant

In [3]:
datafeed.query_jq_data_save_local('000001.XSHG',
                                  '1995-01-01', 
                                  '2022-01-31',
                                  'daily')

开始查询JoinQuant数据~
auth success
Data Query Amount:  {'total': 1000000, 'spare': 1000000}
下载完成~ 数据条数:4151, first_dt:2005-01-04 23:59:59, last_dt: 2022-01-28 23:59:59
数据查询成功，开始保存到本地~
本地未找到Local Data File：.\000001.XSHG.h5，将新建

C:\Users\xuezhihuan\Anaconda3\lib\site-packages\jqdatasdk\api.py:34: PanelObsoleteWarning: 当前环境 pandas 版本高于 0.25，get_price 与 get_fundamentals_continuously 接口的 panel 参数将固定为 False（0.25 及以上版本的 pandas 不再支持 panel，如使用该数据结构和相关函数请注意修改）
  warnings.warn(PandasChecker.VERSION_NOTICE_MESSAGE, PanelObsoleteWarning)

文件已成功保存到本地~

# 数据读取

## 沪深300指数

In [4]:
""" 读取本地数据 """
data = datafeed.load_local_data('000300.XSHG', '1m')
data.head()

数据加载完成~
first_dt:2005-04-08 09:31:00,
last_dt:2022-01-28 15:00:00

,open,close,high,low,volume,money,date,time
0,984.66,983.83,984.66,983.66,19930000.0,214853842.0,2005-04-08,09:31:00
1,983.85,984.79,984.79,983.85,6780000.0,73091272.0,2005-04-08,09:32:00
2,984.50,984.84,984.86,984.44,4680000.0,27809568.0,2005-04-08,09:33:00
3,984.93,985.55,985.67,984.83,6150000.0,27162392.0,2005-04-08,09:34:00
4,985.64,986.37,986.37,985.64,6520000.0,27208928.0,2005-04-08,09:35:00

## 沪深300期货

In [14]:
""" 读取本地数据 """
data = datafeed.load_local_data('IF8888.CCFX', '1m')
data.head()

数据加载完成~
first_dt:2010-04-16 09:16:00,
last_dt:2022-01-28 15:00:00

,open,close,high,low,volume,money,date,time
0,3474.055,3495.885,3513.114,3474.055,825.0,865458300.0,2010-04-16,09:16:00
1,3495.017,3492.854,3500.204,3491.814,410.0,430079460.0,2010-04-16,09:17:00
2,3492.132,3490.321,3495.163,3487.942,285.0,298402320.0,2010-04-16,09:18:00
3,3489.075,3473.542,3490.248,3473.317,368.0,384303120.0,2010-04-16,09:19:00
4,3473.573,3476.633,3482.627,3471.577,355.0,370525860.0,2010-04-16,09:20:00

## 上证指数

In [4]:
""" 读取本地数据 """
data = datafeed.load_local_data('000001.XSHG', 'daily')
data.head()

数据加载完成~
first_dt:2005-01-04 23:59:59,
last_dt:2022-01-28 23:59:59

,open,close,high,low,volume,money,date,time
0,1260.78,1242.77,1260.78,1238.18,816177000.0,4.418452e+09,2005-01-04,23:59:59
1,1241.68,1251.94,1258.58,1235.75,867865100.0,4.916589e+09,2005-01-05,23:59:59
2,1252.49,1239.43,1252.73,1234.24,792225400.0,4.381370e+09,2005-01-06,23:59:59
3,1239.32,1244.75,1256.31,1235.51,894087100.0,5.040042e+09,2005-01-07,23:59:59
4,1243.58,1252.40,1252.72,1236.09,723468300.0,4.118292e+09,2005-01-10,23:59:59